{% load i18n %}
{% load peker_currency_filters %}
{% load shipping_tags %}

<div id="basket_totals">
    <table class="table table-bordered">
        <tbody>      
            <tr>
                <th class="total">Subtotal</th>
                <th class="total text-right">
                    {% if not show_tax_separately and basket.is_tax_known %}
                        {{ basket.total_incl_tax|currency:basket.currency }}
                    {% else %}
                        {{ basket.total_excl_tax|currency:basket.currency }}
                    {% endif %}
                </th>
            </tr>


            {% block order_total %}
                <tr>
                    <th class="total"><span>Total</span></th>
                    <td class="total text-right">
                        <span class="price_color">
                            {% if order_total.is_tax_known %}
                                {{ order_total.incl_tax|currency:basket.currency }}
                            {% else %}
                                {{ order_total.excl_tax|currency:basket.currency }}
                            {% endif %}
                        </span>
                    </td>
                </tr>
                {% if not order_total.is_tax_known %}
                    <tr>
                        <td><small>{% trans "Taxes will be added during checkout." %}</small></td>
                    </tr>
                {% endif %}
            {% endblock %}
        </tbody>
    </table>
</div>
