{% load staticfiles %}
{% load compress %}

{% compress js %}

    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script>
    <script src="{% static "peker/scripts/pluginslive.js" %}"></script>
    <script src="{% static "peker/scripts/range.js" %}"></script>
    <script src="{% static "peker/scripts/zoom.js" %}"></script>
    <script src="{% static "peker/scripts/track.js" %}"></script>
    <script src="{% static "peker/scripts/mainlive.js" %}"></script>
    <script src="{% static "peker/scripts/vendor/bootstrap-slider.js" %}"></script>

{% endcompress %}
