{% load i18n %}
{% comment %}<footer class="footer container-fluid">
    {% block footer %}
        {% endcomment %}{% comment %}
            Could be used for displaying links to privacy policy, terms of service, etc.
            We have a CSS class defined:
                <ul class="footer_links inline">
                    ...
                </ul>
         {% endcomment %}{% comment %}
    {% endblock %}
</footer>{% endcomment %}

    <footer>
      <!-- Footer Info -->
      <section class="footer-info">
        <div class="container">
          <div class="row clearfix">
            <div class="col-sm-3 col-xs-12">
              <div class="footer__section">
                <h1 class="footer__title">Acerca de nosotros</h1>
                <p class="footer__txt about">Empresa socialmente responsable por el alto porcenaje de materiales reciclados, contribuyendo a la conservación de nuestro medio y nuestros recursos naturales.</p>
              </div>
            </div>
            <div class="col-sm-3 col-xs-12">
              <div class="footer__section">
                <h1 class="footer__title">Atención al cliente</h1>
                <ul class="footer__links menu__list">
                  <li><a href="#">¿Cómo Comprar?</a></li>
                  <li><a href="#">Formas de pago</a></li>
                  <li><a href="#">Envíos</a></li>
                  <li><a href="#">Políticas de Compra</a></li>
                  <li><a href="#">Preguntas Frecuentes</a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-3 col-xs-12">
              <div class="footer__section">
                <h1 class="footer__title">Contáctanos</h1>
                <div class="footer__phone footer__links">
                  <div class="phone-ctrl--green clearfix">
                    <a href="#" class="track-link" data-track="phone-footer">Ver Teléfonos</a>
                  </div>
                  <div class="phone-number--green">
                    <a href="#">00-00-00-00-00</a>
                    <a href="#">00-00-00-00-00</a>
                    <a href="#">00-00-00-00-00</a>
                  </div>
                </div>
                <div class="footer__email footer__links">
                  <div class="email__links">
                    <div class="links__items">
                      <a href="mailto:contacto@peker.com">contacto@peker.com</a>
                      <a href="mailto:ventas@peker.com">ventas@peker.com</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-3 col-xs-12">
              <div class="footer__section">
                <h1 class="footer__title">Síguenos en:</h1>
                <div class="footer__social">
                  <a href="#">
                    <i class="fa fa-facebook"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-twitter"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- end Footer Info -->
      <!-- Footer Copyright -->
      <section class="footer-copyright">
        <div class="container">
          <span>Peker Muebles | <span class="mucha-web">Desarrollado por <a href="#">Mucha Web</a></span></span>
        </div>
      </section>
      <!-- end Footer Copyright -->
    </footer>