{% extends "layout.html" %}
{% load i18n %}
{% load promotion_tags %}

{% block content_peker %}
	<div class="container">
		<div class="row">
			<section class="col-sm-12">
			    {% block column_left %}{% endblock %}
			</section>
		</div>
		<div class="row">
			<div class="col-sm-12">
				{% include "partials/alert_messages.html" %}
				{% block header %}

				{% endblock %}


				<div id="promotions">
				    {% for promotion in promotions_page %}
				        {% render_promotion promotion %}
				    {% endfor %}
				</div>

				{% block content %}{% endblock %}
			</div>
		</div>
	</div>
{% endblock %}

{% block content_wrapper %}

{% endblock %}