{% extends "layout.html" %}
{% load i18n %}
{% load promotion_tags %}

{% block content_peker %}
	<div class="container">
		<div class="row">
			<aside class="sidebar profile-sidebar col-sm-3 col-md-3">
			    {% block column_left %}{% endblock %}
			</aside>

			<div class="col-sm-9 col-md-9 profile-content">
				{% include "partials/alert_messages.html" %}
				{% block header %}

				{% endblock %}


				<div id="promotions">
				    {% for promotion in promotions_page %}
				        {% render_promotion promotion %}
				    {% endfor %}
				</div>

				{% block content %}{% endblock %}
			</div>
		</div>
	</div>
{% endblock %}

{% block content_wrapper %}

{% endblock %}