{% extends "layout.html" %}
{% load promotion_tags %}

{% comment %}
Keep the same header and footer as the standard layout template but override the 
main content area to split it into a sidebar and a content block
{% endcomment %}

{% comment %}{% block content_peker_before %}
    <section class="category-head-section">
        {% block head_section %}{% endblock %}
    </section>

    <section class="head-title">
        {% block head_title %}{% endblock %}
    </section>

    <section class="product-section category two-columns">
        <div class="container">
            <div class="row clearfix product-row">
                <div class="col-md-3 col-sm-4 col-xs-12 sidebar-column">
                    <div class="sidebar-section">
                        <!--Filter Control-->

                        <div class="filter-control">
                            {% block side_categories %}{% endblock %}

                        </div>
                        <!--end Filter Control-->
                    </div>

                    <div class="sidebar-section">

                        <div class="filter-control">
                            {% block side_filters %}{% endblock %}
                            
                        </div>
                    </div>
                    <!-- end bee sidebar -->
                </div>

                <div class="col-md-9 col-sm-8 col-xs-12">
                    <div class="product__items category">

                        <div class="row clearfix">
                            {% block items%} {% endblock %}
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}{% endcomment %}

{% block content_peker %}
	<div class="container">
		<div class="row">
			<aside class="sidebar profile-sidebar col-sm-4 col-md-4">
			    {% block column_left %}{% endblock %}
			</aside>
			<div class="col-sm-8 col-md-8 profile-content">
				{% include "partials/alert_messages.html" %}
				{% block header %}
				<div class="profile-header">
				    <h1>{% block headertext %}{% endblock %}</h1>
				</div>
				{% endblock %}


				<div id="promotions">
				    {% for promotion in promotions_page %}
				        {% render_promotion promotion %}
				    {% endfor %}
				</div>

				{% block content %}{% endblock %}
			</div>
		</div>
	</div>
{% endblock %}

{% block content_wrapper %}
<div class="container-fluid page">
    <div class="page_inner">
        {% block breadcrumbs %}{% endblock %}
        <div class="row">

            <aside class="sidebar col-sm-4 col-md-3">
                {# Render promotions at the top of the left-hand sidebar #}
                <div id="promotions_left">
                    {% for promotion in promotions_left %}
                        {% render_promotion promotion %}
                    {% endfor %}
                </div>
                {% comment %}{% block column_left %}{% endblock %}{% endcomment %}
            </aside>

            <div class="col-sm-8 col-md-9">
                {% comment %}{% block header %}
                <div class="page-header action">
                    <h1>{% block headertext %}{% endblock %}</h1>
                </div>
                {% endblock %}{% endcomment %}

                {% include "partials/alert_messages.html" %}

                <div id="promotions">
                    {% for promotion in promotions_page %}
                        {% render_promotion promotion %}
                    {% endfor %}
                </div>

                {% comment %}{% block content %}{% endblock %}{% endcomment %}
            </div>

        </div><!-- /row -->
    </div><!-- /page_inner -->
</div><!-- /container-fluid -->
{% endblock %}
