{% extends "layout.html" %}

{% load history_tags %}
{% load currency_filters %}
{% load reviews_tags %}
{% load staticfiles %}
{% load product_tags %}
{% load display_tags %}
{% load i18n %}
{% load purchase_info_tags %}

{% block title %}
    {{ product.title }} | {{ block.super }}
{% endblock %}

{% block description %}
    {{ product.description|default:""|striptags }}
{% endblock %}


{% block header %}
{% endblock header %}




{% block content_peker %}
    {% block zoom %}
        <div id="zoom">
          <p>Arrastrar dentro del area visible para explorar</p>
          <div class="zoom">
            <div class="zoom-inner">
              <div class="zoom-container">
                <div class="zoom-mask">
                  <img class="zoom-image" src=""/>
                </div>
                <img class="zoom-image zoom-image-overlay" src=""/>
              </div>
            </div>
          </div>
        </div>
    {% endblock zoom %}

    <!-- Detail -->
	<div class="card-section">
		<div class="card-content">
            <div class="container">
                <div class="card-info-product">
                    <h1 class="card__title">{{ product.get_title }}</h1>
                    <div class="card__info-content">
                        <div class="row clearfix">
                            <!-- Detail Left -->
                            {% block peker_product_gallery %}
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="card__gallery">{% include "catalogue/partials/gallery.html" %}</div>
                                </div>
                            {% endblock %}
                            
                            <!-- Detail Right -->
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                {% if user.is_authenticated and user.is_staff %}
                                    <a class="pull-right text-success edit-from-detail hidden-sm" 
                                        href="{% url 'dashboard:catalogue-product' pk=product.id %}">
                                        <i class="fa fa-edit"></i> {% trans "Edit this product" %}
                                    </a>
                                {% endif %}

                                <div class="card__info">
                                    {% block peker_product_stock_record %}
                                        {% include "catalogue/partials/stock_record.html" with verbose=1 %}
                                    {% endblock %}
                                    <span class="card__price"></span>
                                    <hr>

                                    <!-- Detail Info -->
                                    {% block peker_product_description %}
                                        {% if product.description %}
                                        
                                        <p>{{ product.description|safe }}</p>
                                        {% endif %}
                                    {% endblock %}
                                    <hr>

                                    <div class="card__share">
                                        <h1 class="card__option-title">Compartelo</h1>
                                        <div class="social-list">
                                            <a href="" class="social-list__item social-list__item--facebook">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                            <a href="" class="social-list__item social-list__item--twitter">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </div>
                                    </div>

                                    <!-- Detail Add Item to Basket -->
                                    <div class="card__product-options">
                                        {% block peker_product_basket_form %}
                                            {% include "catalogue/partials/add_to_basket_form.html" %}
                                        {% endblock %}
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>		
	</div>
{% endblock %}


{% block extrascripts %}
    {{ block.super }}
{% endblock %}
